node_modules/
dist/
release/
installer-history/
release-current-*/
release-clean-*/
release-fixed*/
release-fixed-*/
win-unpacked/
release-clean-*/
release-fixed*/
release-fixed-*/
*.log
*.sqlite
*.sqlite-shm
*.sqlite-wal
.DS_Store
